.notification {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  padding: 10px;
  text-align: center;
  z-index: 9999;
}

.notification.warning {
  background-color: #ffa500; /* Naranja */
}

.notification.error {
  background-color: #ff0000; /* Rojo */
}

.notification.success {
  background-color: #008000; /* Verde */
}
